<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/smoothie.png" alt="" />
  </div>
  <div class="headings">
    <h2>Car Rent For You</h2>
    <h3>RS Tours-Trust & Secure</h3>
    <a href="/smoothies" class="btn">View Cars</a>
  </div>
</header>

<%- include('partials/footer'); -%>
