<%- include('partials/header'); -%>

<ul class="cars">
  <li class="recipe">
    <img src="/car_A.png" alt="smoothie recipe icon" />
    <h4>Hyundai</h4>
    <p>Explore the road in style and comfort with our Hyundai rental cars. Known for their reliability and fuel efficiency, Hyundai vehicles offer a perfect blend of performance and practicality.</p>
  </li>
  <li class="recipe">
    <img src="/car_B.png" alt="smoothie recipe icon" />
    <h4>Mercedes-Benz</Audio></h4>
    <p>Elevate your driving experience with our luxurious Mercedes-Benz rental cars. Unleash the power of precision engineering and indulge in the opulence of world-class interiors. </p>
  </li>
  <li class="recipe">
    <img src="/car_C.png" alt="smoothie recipe icon" />
    <h4>BMW</h4>
    <p>Feel the thrill of the road with our BMW rental cars. Designed for driving enthusiasts, BMW vehicles deliver a dynamic performance and cutting-edge technology.</p>
  </li>
  <li class="recipe">
    <img src="/car_D1.png" alt="smoothie recipe icon" />
    <h4>Maruti Suzuki</h4>
    <p>Discover convenience and affordability with our Maruti Suzuki rental cars. Ideal for city drives and long journeys alike, Maruti Suzuki vehicles are known for their compact design and fuel efficiency.</p>
  </li>
  <li class="recipe">
    <img src="/car_E.png" alt="smoothie recipe icon" />
    <h4>Audi</h4>
    <p>Experience the epitome of luxury and innovation with our Audi rental cars. Immerse yourself in the sleek design, advanced technology, and powerful performance.</p>
  </li>
  <li class="recipe">
    <img src="/car_F1.png" alt="smoothie recipe icon" />
    <h4>Honda Vezel</h4>
    <p>Embrace versatility and modern design with our Honda Vezel rental cars. Perfect for urban explorations and outdoor adventures, the Honda Vezel combines style with practicality.</p>
  </li>
</ul>

<%- include('partials/footer'); -%>
